*.swp
*~
Info.plist
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
Testing
_CPack_Packages
cmake_install.cmake
config.h
bin
install_manifest.txt
toy
.DS_Store
dbd2netcdf-?.?.?-*
tpw.nc
tmp
