# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '\.(netCDF|ncdump|sbd|tbd|dbd|ebd|mbd|scd|tcd|dcd|ecd|mcd|csv)$'
    -   id: end-of-file-fixer
        exclude: '\.(netCDF|ncdump|sbd|tbd|dbd|ebd|mbd|scd|tcd|dcd|ecd|mcd|csv)$'
    -   id: check-yaml
    -   id: check-added-large-files
